:root {
  --btn-color: #3882f6;
  --primary-background-color: #1f2937;
  --primary-text-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --secondary-text-color: #1f2937;
}
html {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}
header {
  background: var(--primary-background-color);
  height: 25%;
}

main {
  height: 60%;
}
h2 {
  text-align: center;
  font-size: 30px;

}
figure {
  display: flex;
  justify-content: center;
}
img {
  border-radius: 10px;
  border: 2px solid #3882f6;
  height: 150px;
  width: 120px;
}
figcaption {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  width: 120px;
}
p {
  font-weight: 300;
  width: 40%;
  line-height: 1.5;
  font-size: 26px;
  font-style: italic;
  color: var(--secondary-text-color);
}
span{
  font-style: normal;
  font-weight: 600;
  display: block;
  text-align: end;
  font-size: 20px;
  

  
}
footer {
  height: 15%;
  
  
}
.information-container {
  height: 50%;
}
.image-wrap {
  margin-right: 40px;
}
.message-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 50%; /* set the height of the parent element to 100% */
  background:var(--secondary-color)
 
}
