:root {
  /* color header*/
  --btn-color: #3882f6;
  --primary-background-color: #1f2937;
  --primary-text-color: #f9faf8;
  --secondary-color: #e5e7eb;
  --secondary-text-color: #1f2937;

  /* font*/
}

html {
  font-family: "Roboto", sans-serif;
}
body {
  height: 100vh;
}

li {
  list-style: none;
}
ul {
  display: flex;
  justify-content: space-between;
}

main {
  height: 60%;
}
h1{
  color: var(--primary-text-color);
  font-size: 48px;
}
h2 {
  text-align: center;
  font-size: 38px;
}
figure {
  display: flex;
  justify-content: center;
}

figcaption {
  color: var(--secondary-text-color);
  font-size: 12px;
  font-weight: 300;
  text-align: center;
  width: 140px;
}
span {
  font-style: normal;
  font-weight: 600;
  display: block;
  text-align: end;
  font-size: 16px;
}
footer {
  height: 15%;
}
.Main__header {
  background: var(--primary-background-color);
  height: 30%;
  display: flex;
  flex-direction: column;
}
.link-logo-container {
  display: flex;
  width: 70%;
  align-items: center;
  margin: 0 auto;
}
.hero-container{
  display: flex;
  width: 70%;
  margin: 0px auto;
}
.heading-article{
  flex: 1;
}
.hero-img{
 flex: 1;
 border: 1px solid #e5e7eb;
}


.logo-header {
  flex: 1;
  color: #f9faf8;
  font-size: 24px;
}
.links {
  font-size: 18px;
  color: #e5e7eb;
  flex: 1;
}

.information-container {
  height: 50%;
}
.image-wrap {
  border-radius: 10px;
  border: 2px solid #3882f6;
  height: 190px;
  width: 140px;
}
.image-wrap {
  margin-right: 80px;
}

.hero_paragraph{
  color: #e5e7eb;
  font-size: 18px;
}
.message-container {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  height: 50%; /* set the height of the parent element to 100% */
  background: var(--secondary-color);
}
.quote_message {
  font-weight: 300;
  width: 40%;
  line-height: 1.5;
  font-size: 26px;
  font-style: italic;
  color: var(--secondary-text-color);
}